<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="simpleDAO" class="org.isharding.shard.SimpleDAO">
		<property name="shardConfig">
			<bean class="org.isharding.shard.impl.DefaultShardConfig">
				<property name="dataSourceMapping">
					<map>
						<entry key-ref="dataSource1" value="0,6-8" />
						<entry key-ref="dataSource2" value="2-5,1,9" />
					</map>
				</property>
				<property name="defaultDataSource" ref="dataSource2"/>
			</bean>
		</property>
		<!--  configs before refactor
		<property name="shards">
			<list>
				<bean class="org.isharding.shard.impl.ShardImpl">
					<constructor-arg index="0" ref="dataSource1" />
					<constructor-arg index="1">
						<value>0,6-8</value>
					</constructor-arg>
				</bean>
				<bean class="org.isharding.shard.impl.ShardImpl">
					<constructor-arg index="0" ref="dataSource2" />
					<constructor-arg index="1">
						<value>2-5,1,9</value>
					</constructor-arg>
				</bean>
			</list>
		</property>
		 -->
	</bean>

	<bean id="shardStrategy"
		class="org.isharding.shard.strategy.ShardStrategyImpl">
		<property name="shardResolutionStrategy">
			<bean
				class="org.isharding.shard.strategy.resolution.impl.SimpleHashShardResolutionStrategy">
				<property name="allShardCount">
					<value>10</value>
				</property>
			</bean>
		</property>
		<property name="shardAccessStrategy">
			<bean
				class="org.isharding.shard.strategy.access.impl.ParallelShardAccessStrategy" />
		</property>
	</bean>

	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>sqlmap.xml</value>
		</property>
	</bean>

	<bean id="abstractDataSource" abstract="true"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.hsqldb.jdbcDriver" />
		<property name="user" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="dataSource1" parent="abstractDataSource">
		<property name="jdbcUrl" value="jdbc:hsqldb:mem:sharding1" />
	</bean>
	<bean id="dataSource2" parent="abstractDataSource">
		<property name="jdbcUrl" value="jdbc:hsqldb:mem:sharding2" />
	</bean>
</beans>