<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "./log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- ===================================================================== -->
    <!--  以下是appender的定义                                                 -->
    <!-- ===================================================================== -->
    <appender name="PROJECT-DEBUG" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="SHARDING" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %c{2} - %m%n"/>
        </layout>
    </appender>
    
    <logger name="org.isharding.shard" additivity="false">
    	<level value="ERROR"></level>
    	<appender-ref ref="SHARDING"/>
    </logger>
    <logger name="java.sql" additivity="false">
    	<level value="ERROR"/>
    	<appender-ref ref="PROJECT-DEBUG"/>
    </logger>
    <logger name="com.ibatis" additivity="false">
    	<level value="ERROR"/>
    	<appender-ref ref="PROJECT-DEBUG"/>
    </logger>
    <!-- ===================================================================== -->
    <!--  以下是logger的定义                                                   -->
    <!-- ===================================================================== -->
    <!-- ===================================================================== -->
    <!--  Root logger的定义                                                    -->
    <!-- ===================================================================== -->
    <root>
        <level value="ERROR"/>
        <appender-ref ref="PROJECT-DEBUG"/>
    </root>
</log4j:configuration>
